/* add spacing between data row values */
.provider,
.type {
  margin-right: 10px;
}

/* visually distinguish provider */
.provider {
  font-weight: 500;
  text-transform: uppercase;
}

.type {
  text-transform: capitalize;
}

/* hide/show expanded list (overridden by hide/show whole list) */
.hide {
  display: none !important;
}
